@import "../../styles/index";

#roadmap {
  & > h2 {
    font-size: clamp(36px, 5vw, 46px);
  }
}

.roadmap-container {
  ul {
    li {
      list-style-type: none;
      padding-left: 0;
      padding-right: 0;
      position: relative;

      &:nth-child(1) {
        background: url("../../assets/images/process-line-1.png") 65px top no-repeat;
        background-size: 40%;
        padding-top: 10%;
        @include mobile {
          background: none;
          padding-top: 0;
        }
      }

      &:nth-child(odd) {
        background: url("../../assets/images/process-line-3.png") 65px top no-repeat;
        background-size: 40%;
        padding-top: 10%;
        @include mobile {
          background: none;
          padding-top: 0;
        }
      }

      &:nth-child(even) {
        background: url("../../assets/images/process-line-2.png") 65px top no-repeat;
        background-size: 40%;
        padding-top: 10%;
        padding-left: 40%;
        @include mobile {
          background: none;
          padding-top: 0;
          padding-left: 0;
        }
      }

      h4 {
        text-transform: uppercase;
        font-size: clamp(28px, 5vw, 34px);
        font-weight: bold;
        @include mobile {
          &:before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: #ffffff;
            border-radius: 100%;
            position: absolute;
            left: -30px;
            top: 3%;
          }
          &:after {
            content: '';
            height: 100%;
            width: 2px;
            background-color: #ffffff;
            position: absolute;
            left: -24px;
            top: 3%;
          }
        }
      }
    }
  }
}