@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import "breakpoints";
@import "variables";

body {
  font-family: 'Stint Ultra Condensed', cursive;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.main {
  &-content {
    background: url("../assets/images/bannerBg.jpg") no-repeat center;
    background-size: cover;
  }
}